/* Règles globales */

*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body
{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    max-width: 1450px;
    width: 95%;
}
a
{
    text-decoration: none;
    color: black;
}
h3
{
    font-weight: 700;
    font-size: 100%;
    color: black;
}
p
{
    font-weight: 500;
    font-size: 90%;
    color: black;  
}

/* HEADER */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.logobooki
{
    width: 100px;
    height: auto;
    padding-top: 25px;
}
#menu
{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
#menu a
{
    width: 50%;
    text-align: center;
    padding-top: 30px;
}
#menu a:hover
{
    color: #0065FC;
    border-top: #0065FC solid 3px;
}
#menu a:focus
{
    color: #0065FC;
    border-top: #0065FC solid 3px;
}

/* Barre de recherche*/

#zone_recherche
{
    width: 500px;
    height: 60px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}
#map
{
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #F2F2F2;
    border: #F2F2F2 solid 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
}
#capmap
{
    margin: auto;
}
#recherche
{
    position: absolute;
    left: 60px;
    outline: none;
    border: #F2F2F2 solid 1px;
    font-family: 'Raleway';
    font-size: 120%;
    font-weight: 700;
    color: black;
    width: 300px;
    height: 60px;
    text-indent: 10px;
}
#send
{
    position: absolute;
    right: 0;
    border: none;
    background-color: #0065FC;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 120%;
    color: white;
    border-right: #0065FC solid 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 140px;
    height: 60px;
}
#send i
{
    display: none;
}
#send:hover
{
    cursor: grab;
}


/* Zone des filtres */

#bouton_filtre
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}
#bouton_filtre p
{
    font-weight: 700;
    font-size: 120%;
    margin-right: 3%;
}
.bouton
{
    height: 50px;
    border: #F2F2F2 solid 2px;
    background-color: white;
    border-radius: 50px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 100%;
    margin-right: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 0%;
}
.bouton span
{
    text-indent: 10px;
    padding-right: 10px;
}
.bouton i
{
    width: 50px;
    height: 50px;
    min-height: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    font-size: 23px;
    padding-top: 13px;
    margin-left: -2%;
}
#bouton_filtre button:hover
{
    transform: scale(1.1);
    transition: 500ms;
}
.bouton:hover
{
    cursor: grab;
}
#info
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 2%;
}

#info i
{
    color: #0065FC;
    border: #DEEBFF solid 1px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    margin-right: 7px;
    margin-top: 9px;
    border-radius: 50%;
    font-size: 15px;
    padding-left: 11px;
    padding-top: 6px;
}

/* Carte hébergement et activité */

#hebergement
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#card_hebergement
{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;

}
#card_populaire
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside, article
{
    background-color: #F2F2F2;
    border-radius: 15px; 
    margin-bottom: 3%; 
}
aside
{
    margin-left: 2%;
    padding-right: 1%;
    padding-left: 1%;
    flex: 1;
}
article
{
    padding-bottom: 3%;
    flex: 2;
}
aside h2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6% 7% 0% 7%;
}
article h2
{
    padding: 3% 0% 0% 3%;
}
.card
{
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 4px rgb(219, 219, 219);
}
article .card
{
    width: 255px;
    height: 208px;
    margin-bottom: 3%;
}
aside .card
{
    width: 390px;
    height: 160px;
    margin-bottom: 4%;
}
.box_aside
{
    display: flex;
    flex-direction: row;
}
.card img
{
    object-fit: cover;
}
#hebergement img
{
    border: white solid 5px;
    border-top-left-radius: 15px;
}
.photo_card_herbergement
{
    width: 255px;
    height: 125px;
    border-top-right-radius: 15px;
}
.photo_card_pop
{
    width: 155px;
    height: 160px; 
    border-bottom-left-radius: 15px;
    margin-right: 3%;
}
article h3
{
    padding-left: 5%;
    margin-top: -1%;
    margin-bottom: -1%;
}
aside h3
{
    margin-bottom: -2%;
}

article p
{
    padding-left: 5%;
}
.text_aside
{
    width: 40%;
    padding-left: 3%;
}
.star
{
    color: #0065FC;
    font-size: 11px;
}
.check
{
    color: grey;
}
article .star
{

    padding-left: 5%;
    margin-top: -1%;
}
aside .star
{
    padding-top: 30%;
}
.star i
{
    padding-right: 1%;

}
#more
{
    font-weight: 700;
    font-size: 130%;
    padding-left: 3%;
}
#box_activite
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 3%;
}
#box_activite img
{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;  
}
#box_activite h3
{
    text-indent: 20px;
}
.double
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.grande, .double
{
    width: 310px;
    height: 460px;
    margin-bottom: 2%;
}
.photo_activite_grd
{
    height: 410px;
}
.moyenne
{
    height: 250px;
}
.photo_activite_moyn
{
    height: 200px;
}
.petite
{
    height: 160px;
}
.photo_activite_pti
{
    height: 110px;
}

/* FOOTER */

footer
{
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}
.footer_section
{
    width: 30%;
}
footer li
{
    list-style-type: none;
    margin-bottom: 4%;
}

/*MEDIA QUERIES Tablettes*/

@media all and (max-width: 992px) 
{

    aside
    {
        flex: auto;
        margin-left: 0%;
        margin-bottom: 0%;
        padding-right: 0%;
        padding-left: 0%;
    }
    article
    {
        flex: auto;
    }
    #card_populaire
    {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    aside .card
    {
        width: 45%;
        margin-bottom: 2%;
    }
    .text_aside
    {
        width: 45%;
    }
    aside .star
    {
        padding-top: 20%;
    }
    aside h2
    {
    padding: 6% 3% 0% 3%;
    }
    #box_activite
    {
        justify-content: space-around;
    }
    #activite h2
    {
        padding-left: 3%;
    }
    #moove
    {
    order: -1;
    }
}

/* MEDIA QUERIES Portable*/

@media all and (max-width: 768px)
{
    body
    {
        width: 100%;
    }
    header
    {
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-top: 10px;
    }
    .logobooki
    {
        width: 140px;
        margin-bottom: 25px;
    }
    #menu a
    {
        font-size: 130%;
        padding: 0px 0px 15px 0px;
        border-bottom:#F2F2F2 solid 4px;
    }
    #menu
    {
        width: 100%;
    }
    #menu a:hover
    {
        border-top: none;
        border-bottom: #0065FC solid 4px;
    }
    #menu a:focus
    {
        border-top: none;
        border-bottom: #0065FC solid 4px;
    }
    #zone_recherche
    {
        width: 95%;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    #send
    {
        border-radius: 15px; 
        width: 60px;
    }
    #send i
    {
        display: unset;
    }
    #send span
    {
        display: none;
    }
    #bloc_titre
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #titre
    {
        width: 95%;
        text-align: left;
    }

    #titre h1
    {
        font-size: 150%;
    }
    #filtre
    {
        width: 95%;
    }
    #bouton_filtre p
    {
        width: 100%;
    }
    .bouton
    {
      margin-bottom: 3%;  
    }
    article
    {
        background: none;
    }
    aside
    {
        order: -1;
        margin-bottom: 3%;
        border-radius: 0px;
    }
    #card_populaire
    {
    flex-direction: column;
    justify-content: space-around;
    }
    article .card
    {
        width: 95%;
        height: 210px;
    }
    article h3
    {
        margin-top: 0;
    }
    .photo_card_herbergement
    {
        width: 100%;
        height: 125px;
    }
    aside .card
    {
        width: 95%;
        height: 160px;
    }
    .photo_card_pop
    {
        height: 160px;
    }
    aside h2
    {
        padding: 6% 4% 0% 4%;
    }
    #box_activite
    {
        flex-direction: column;
        align-content: center;
    }
    #box_activite .card
    {
        height: 200px;
        margin: 5% 0% 0% 0%;
    }
    #box_activite img
    {
        height: 150px;
    }
    .double
    {
        justify-content: unset;
        height: auto;
    }
    .grande, .double
    {
        width: 95%;
        margin-bottom: 0%;
    }
    #moove
    {
        order: unset;
    }
    footer
    {
        flex-direction: column;
    }
    footer ul
    {
        width: 80%;
    }
}