*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body
{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    max-width: 1450px;
    width: 95%;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.logobooki
{
    width: 100px;
    height: auto;
    padding-top: 25px;
}
#menu
{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
#menu a
{
    text-decoration: none;
    width: 50%;
    text-align: center;
    padding-top: 30px;
}
#menu a:link
{
    color: black;
}
#menu a:hover
{
    color: #0065FC;
    border-top: #0065FC solid 3px;
}
#menu a:focus
{
    color: #0065FC;
    border-top: #0065FC solid 3px;
}
#zone_recherche
{
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#recherche
{
    outline: none;
    border: #F2F2F2 solid 1px;
    font-family: 'Raleway';
    font-size: 120%;
    font-weight: 700;
    color: black;
    width: 55%;
    height: 60px;
    text-indent: 10px;
}
#send
{
    border: none;
    background-color: #0065FC;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 120%;
    color: white;
    border-right: #0065FC solid 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 30%;
    height: 60px;
}
#send i
{
    display: none;
}
#send:hover
{
    cursor: grab;
}
#map
{
    width: 15%;
    height: 60px;
    background-color: #F2F2F2;
    border: #F2F2F2 solid 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
}
#capmap
{
    margin: auto;
}
#bouton_filtre
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}
#bouton_filtre p
{
    font-weight: 700;
    font-size: 120%;
    margin-right: 3%;
}
.bouton
{
    height: 50px;
    border: #F2F2F2 solid 2px;
    background-color: white;
    border-radius: 50px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 100%;
    margin-right: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 0%;
}
.bouton span
{
    text-indent: 10px;
    padding-right: 10px;
}
.bouton i
{
    width: 50px;
    height: 50px;
    min-height: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    font-size: 23px;
    padding-top: 13px;
    margin-left: -2%;
}
#bouton_filtre button:hover
{
    transform: scale(1.1);
    transition: 500ms;
}
.bouton:hover
{
    cursor: grab;
}
#info
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 2%;
}

#info i
{
    color: #0065FC;
    border: #DEEBFF solid 1px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    margin-right: 7px;
    margin-top: 9px;
    border-radius: 50%;
    font-size: 15px;
    padding-left: 11px;
    padding-top: 6px;
}
#hebergement
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#card_hebergement
{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;

}
#card_populaire
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside
{
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-left: 2%;
    margin-bottom: 3%;
    padding-right: 1%;
    padding-left: 1%;
    flex: 1;
}
article
{
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-bottom: 3%;
    padding-bottom: 3%;
    flex: 2;
}
aside h2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6% 7% 0% 7%;
}
article h2
{
    padding: 3% 0% 0% 3%;
}
article .card
{
    width: 255px;
    height: 208px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 4px rgb(219, 219, 219);
    margin-bottom: 3%;
}
aside .card
{
    width: 390px;
    height: 160px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 4px rgb(219, 219, 219);
    margin-bottom: 4%;
}
.box_aside
{
    display: flex;
    flex-direction: row;
}
.photo_card_herbergement
{
    width: 255px;
    height: 125px;
    border: white solid 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit:cover;
}
.photo_card_pop
{
    width: 155px;
    height: 160px;
    border: white solid 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit:cover;
    margin-right: 3%;
}
article h3
{
    font-weight: 700;
    font-size: 100%;
    color: black;
    padding-left: 5%;
    margin-top: -1%;
    margin-bottom: -1%;
}
aside h3
{
    font-weight: 700;
    font-size: 100%;
    margin-bottom: -2%;
    color: black;
}

article p
{
    font-weight: 500;
    font-size: 90%;
    padding-left: 5%;
    color: black;
}
aside p
{
    font-weight: 500;
    font-size: 90%;
    color: black;
}
.text_aside
{
    width: 40%;
    padding-left: 3%;
}
main a
{
    text-decoration: none;
    color: black;

}
article .star
{

    padding-left: 5%;
    margin-top: -1%;
    color: #0065FC;
}
.text_aside .star
{
    color: #0065FC;
}
.check
{
    color: grey;
}
.star i
{
    padding-right: 1%;

}
#more
{
    font-weight: 800;
    font-size: 130%;
    padding-left: 3%;
}
#activité
{
    margin-bottom: 5%;
}
#activité h3
{
    color: black;
    padding-left: 8%;
}
#card_activité
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#activité img
{
    margin-bottom: -1%;
}
#activité .card_moyenne
{
    width: 310px;
    height: 245px;
    border-radius: 15px;
    box-shadow: 3px 3px 4px rgb(219, 219, 219);
}
.photo_card_moyenne
{
    width: 310px;
    height: 190px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit:cover;
}
#activité .card_petite
{
    width: 310px;
    height: 190px;
    border-radius: 15px;
    box-shadow: 3px 3px 4px rgb(219, 219, 219);
}
.photo_card_petite
{
    width: 310px;
    height: 135px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit:cover;
}
#activité .card
{
    width: 310px;
    height: 460px;
    border-radius: 15px;
    box-shadow: 3px 3px 4px rgb(219, 219, 219);
    margin-bottom: 2%;
}
.photo_card_activité
{
    width: 310px;
    height: 405px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit:cover;
}
footer
{
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer ul
{
    width: 30%;
}
footer li
{
    list-style-type: none;
    margin-bottom: 4%;
}

li a
{
    color: black;
}
/*MEDIA QUERIES*/
@media all and (max-width: 992px) 
{

    aside
    {
        flex: auto;
        margin-left: 0%;
        margin-bottom: 0%;
        padding-right: 0%;
        padding-left: 0%;
    }
    article
    {
        flex: auto;
    }
    #card_populaire
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
    aside .card
    {
        width: 45%;
        margin-bottom: 2%;
    }
    aside h2
{
    justify-content: space-between;
    padding: 6% 3% 0% 3%;
}
    #card_activité
    {
      margin: 1%;
    }


}
@media all and (max-width: 768px)
{
    body
    {
        width: 100%;
    }
    header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-top: 10px;
    }
    .logobooki
    {
        width: 140px;
        height: auto;
        margin-bottom: 25px;
    }
    #menu a
    {
        width: 50%;
        text-decoration: none;
        text-align: center;
        font-size: 130%;
        padding: 0px 0px 15px 0px;
        border-bottom:#F2F2F2 solid 4px;
    }
    #menu
    {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    #menu a:hover
    {
        color: #0065FC;
        border-top: none;
        border-bottom: #0065FC solid 4px;
    }
    #menu a:focus
    {
        color: #0065FC;
        border-top: none;
        border-bottom: #0065FC solid 4px;
    }
    #zone_recherche
    {
        width: 95%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    #bloc_titre
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #titre
    {
        width: 95%;
        text-align: left;
    }

    #titre h1
    {
        font-size: 150%;
    }
    #recherche
    {
    outline: none;
    border: #F2F2F2 solid 1px;
    font-family: 'Raleway';
    font-weight: 700;
    color: black;
    width: 100%;
    height: 60px;
    text-indent: 10px;
    margin-right: -10px;
    padding-right: 8px;
    }
    #map
    {
        width: 70px;
    }
    #send
    {
        border: none;
        color: white;
        background-color: #0065FC;
        border-radius: 15px; 
        width: 70px;
        height: 60px;
        min-width: 60px;
    }
    #send i
    {
        display: unset;
    }
    #send span
    {
        display: none;
    }
    #filtre
    {
        width: 95%;
    }
    #bouton_filtre p
    {
        width: 100%;
    }
    .bouton
    {
      margin-bottom: 3%;  
    }
    aside
    {
        order: -1;
        margin-bottom: 3%;
        border-radius: 0px;
    }
    article .card
    {
        width: 95%;
        height: 210px;
    }
    .photo_card_herbergement
    {
        width: 100%;
        height: 115px;
    }
    aside .card
    {
        width: 95%;
        height: 160px;
    }
    .photo_card_pop
    {
        height: 160px;
    }
    aside h2
    {
        padding: 6% 4% 0% 4%;
    }
    footer
    {
        flex-direction: column;
    }
    footer ul
    {
        width: 80%;
    }
}